/* slider box style */

.slider-box {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0.5rem 0;
    padding: 1rem;
    border-bottom: 2px solid black;
}

.range-value {
    display: inline-block;
    padding: 7px;
    width: 30px;
    text-align: center;
    background: #8aaae5;
    border-radius: 7px;
}

/* slider style */

.range {
    margin: 0 1rem;
    width: 200px;
    -webkit-appearance: none;
    outline: #111111;
    background: whitesmoke;
    border-radius: 50px;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #8aaae5;
}

/* button style */

.buttons {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

/* save button style */

.arm-btn {
    border-radius: 7px;
    width: 90px;
    height: 35px;
}

/* on/off button style */

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    width: 80px;
    background: #d5d5d5;
    border-radius: 50px;
    /* margin: auto; */
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    background-color: white;
    border-radius: 50%;
    outline: none;
    left: 2px;
    top: 2px;
}

/* input[type="checkbox"]:after {
    content: "off";
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    left: 910px;
} */

input[type="checkbox"]:checked {
    background: #19d28f;
}

input[type="checkbox"]:checked::before {
    background: #4b4d57;
    left: 50px;
}

/* input[type="checkbox"]:checked:after {
    content: "on";
} */

@media screen and (max-width:415px) {
    .arm-main {
        margin: 1rem 0 1.5rem 0;
        width: 350px;
    }
    .header {
        padding: 1rem 1rem;
    }
    .header h1 {
        font-size: 1.75rem;
    }
    .slider-box {
        padding: 1rem 0;
    }
    .range {
        margin: 0 0.5rem;
        width: 170px;
    }
    .range-value {
        padding: 5px;
        width: 30px;
        font-size: 1rem;
    }
}