/* main button styling for the remote control */

.remote-btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.remote-btn i {
    width: 50px;
    height: 50px;
    font-size: 50px;
    justify-content: center;
}

/* up button div, middle line button div */

.up, .middle {
    margin-bottom: 1rem;
}

.stop-btn {
    margin: 0 1rem;
}

/* remote-panel  style*/

.remote-panel {
    margin-top: 5.5rem;
}

@media screen and (max-width:415px) {
    .main-base {
        width: 350px;
        /* margin: 20% 2rem; */
    }
    .remote-btn {
        width: 80px;
        height: 80px;
    }
    .remote-btn i {
        width: 45px;
        height: 45px;
        font-size: 45px;
    }
    .remote-panel {
        margin: 1rem 0;
        padding: 0.5rem;
    }
}